.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    width: 50vw;

    .title {
        color: white;
        font-size: 80px;
        font-weight: 900;
    }

    p {
        color: white;
        font-size: 20px;
        font-weight: 500;
    }

    .join-input {
        width: 16vw;
        border: solid 3px white;
        height: 60px;
        border-radius: 25px;
        margin-right: 15px;
        background-color: transparent;
        font-size: 20px;
        padding: 0 25px 0 25px;
        color: white;
        box-sizing: border-box;

        &::placeholder {
            font-weight: 400;
            color: #FFFFFF80;
        }

    }

    h4 {
        color: tomato;
        font-size: 25px;
    }

}