<div class="home">
    <div class="left">
        <!-- Title -->
        <div class="game-code">
            <p>condividi questo codice con il tuo avversario</p>
            <h4>game: {{ gameID }}</h4>
        </div>
        <div>
            <!-- PEZZI DA 1 -->
            <div class="row">
                <p class="pieces-number">
                    {{ pieces[1] }}
                </p>
                <div class="boat" [attr.draggable]="pieces[1] > 0" (dragstart)="dragStarted($event, '1')">
                    <app-box [state]="defaultBoxState | boxState:'center'" [border]="false" [type]="'my'"></app-box>
                </div>
            </div>
            <!-- PEZZI DA 2 -->
            <div class="row">
                <p class="pieces-number">
                    {{ pieces[2] }}
                </p>
                <div class="boat" [attr.draggable]="pieces[2] > 0" (dragstart)="dragStarted($event, '2')">
                    <app-box [state]="defaultBoxState | boxState:'right'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'left'" [border]="false" [type]="'my'"></app-box>
                </div>
            </div>
            <!-- PEZZI DA 3 -->
            <div class="row">
                <p class="pieces-number">
                    {{ pieces[3] }}
                </p>
                <div class="boat" [attr.draggable]="pieces[3] > 0" (dragstart)="dragStarted($event, '3')">
                    <app-box [state]="defaultBoxState | boxState:'right'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'line-horizontal'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'left'" [border]="false" [type]="'my'"></app-box>
                </div>
            </div>
            <!-- PEZZI DA 4 -->
            <div class="row">
                <p class="pieces-number">
                    {{ pieces[4] }}
                </p>
                <div class="boat" [attr.draggable]="pieces[4] > 0"  (dragstart)="dragStarted($event, '4')">
                    <app-box [state]="defaultBoxState | boxState:'right'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'line-horizontal'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'line-horizontal'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'left'" [border]="false" [type]="'my'"></app-box>
                </div>
            </div>
            <!-- PEZZI DA 5 -->
            <div class="row">
                <p class="pieces-number">
                    {{ pieces[5] }}
                </p>
                <div class="boat" [attr.draggable]="pieces[5] > 0" (dragstart)="dragStarted($event, '5')">
                    <app-box [state]="defaultBoxState | boxState:'right'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'line-horizontal'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'line-horizontal'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'line-horizontal'" [border]="false" [type]="'my'"></app-box>
                    <app-box [state]="defaultBoxState | boxState:'left'" [border]="false" [type]="'my'"></app-box>
                </div>
            </div>
        </div>
        <div>
            <app-button [width]="15" [height]="70" (click)="next()">save</app-button>
            <p *ngIf="error" class="error">Errore: non hai posizionato il numero esatto di navi</p>
        </div>
    </div>
    <div class="grid-container">
        <app-grid [board]="board" [type]="'my'" (onBoatAdded)="decreasePieces($event)" (onBoatDeleted)="increasePieces($event)"></app-grid>
    </div>
</div>